<div class="both-centered distance">
    <h1 class="map-header">Search places or add some on the map</h1>
    <div class="map-searchbar">
        <input type="text" id="searchbar" placeholder="In which city or town do you want to park?"></input>
    </div>
    <div id="mapid"></div>
</div>

<script src="/js/search.js"></script>
<script src="/js/map.js"></script>
<script>initMap({{ loc }}, {{ zoomLevel }})</script>

<div class="custom-popup-content hidden">
    <h1>ADD A NEW PLACE</h1>
    <form action="/places/add" method="POST" enctype="multipart/form-data">
        <h2>Address</h2>
        <textarea rows="3" name="address" id="address" required></textarea>
        <h2>Description</h2>
        <textarea minlength="20" maxlength="200" name="description" required></textarea>
        <h2>Price</h2>
        <div class="radio-group">
            <div>
                <input type="radio" id="free" name="price" value="free" />
                <label for="html">Free</label>
            </div>
            <div>
                <input type="radio" id="paid" name="price" value="paid" />
                <label for="css">Paid</label>
            </div>
        </div>
        <h2>Rating</h2>
        <div class="rate">
            <input type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="rate" value="1" required/>
            <label for="star1" title="text">1 star</label>
        </div>
        <input type="hidden" name="latitude" id="latitude" />
        <input type="hidden" name="longitude" id="longitude" />
        <input type="file" name="image" accept="image/png, image/jpg" value="">
        <button type="submit">SUBMIT</button>
    </form>
</div>


<div class="custom-place-details-popup-content hidden">
    <p id="details-city"></p>
    <div class="details-image-container">
        <img id="details-image">
    </div>
    <p id="details-address"></p>
    <p id="details-price"></p>
    <p id="details-rate"></p>
    <a id="details-link"><button id="details-button">DETAILS</button></a>
</div>

{{#if error}}
<p class="error">{{error}}</p>
{{/if}}
