<div class="horizontally-centered error-distance">
    <h1>Error. 🤔</h1>
    <p>Please go back to PLACES, there was a problem.</p>
    <p>For example, the issue could be that you tried to add a location without being logged in.</p>
</div>
