<div class="horizontally-centered error-distance">
    <h1 id="title-error">Ooops</h1>
    <p id="p-error"> You drove your camper in the wrong direction.</p>
    <img id="gif-error" src="https://media.giphy.com/media/AQbiUzxhIlM6k/giphy.gif" alt="camper broke">
    <div id="button-home">
        <a href="/">TAKE SHORTCUT BACK</a>
    </div>
</div>