#searchbar {
    outline: none;
    background: url(/images/marker.png) no-repeat scroll 12px 9px;
    background-size: 24px;
    padding-left: 48px;
    background-color: white;
}

#searchbar.searching {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: url(/images/search-loader.gif) no-repeat scroll 18px 14px;
    background-color: white;
}

.home-position {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 58px 64px 0 64px;
}

.home-text {
    margin-top: 80px;
    margin-right: 32px;
}

.home-text h1{
   font-size: 40px;
   font-weight: bold;
   letter-spacing: 2px;
   color: #1A2F3D;
   margin-bottom: 30px;
   line-height: 50px;
}

.home-text h2{
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 2px;
    color: #1A2F3D;
    line-height: 32px;
 }
 
#places-button {
    white-space: nowrap;
    width: 100%;
    background-color: white;
    color: rgba(0, 0, 0, 0.50);
    border-radius: 20px;
    margin-bottom: 60px;
    font-size: 16px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.20);
}

#places-button:hover {
    color:white;
}
