.navbar {
    background-color: #1A2F3D !important;
    box-shadow: 0px 5px 5px #757575;
    display: flex;
    /* flex-wrap: nowrap; */
}

  .user-nav {
    width: 75px;
    border-radius: 60px;
    background-color: #F2F2F2;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #484848;
  }

  .nav-link {
    color: #F2F2F2;
    letter-spacing: 0.05em;
    padding: 0 !important;
    margin: 0 50px
  }

  .nav-link:hover {
    color: #C5D1D8
  }

  .navbar-nav {
    margin: 0 !important;
    display: flex !important;
    justify-content: space-evenly !important;
    width: 100%
  }

  .fa-bars {
    margin-right: 5px;
  }

  .dropdown-toggle::after {
    display: none;
  }

  .nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0
  }

  /* .navbar-toggler {
    background-color: white;
  } */

  
  /* geht nicht
   li.nav-item.dropdown::marker {
      display: none!important
  } */
  
  .dropdown-toggle {
    margin: 0 !important
  }

  
/* 

  .navbar {
  wenn FULLSCREEN DANN HEIGHT 60px
    height: 60px;
    padding: 0 8px;
  }
  
  .dropdown-item li a {
    color: #484848 !important
  }
  
*/