.horizontally-centered {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

#details-page {
    display:flex; 
    align-items: flex-start;
    margin-top: 120px;
    padding-bottom: 48px;
}

#places-image img{
    height: 100%;
    border-radius: 20px;
}

#places-image {
    height: 320px;
}

#place-details p{
    font-size: 16px;
}

#mini-map {
    width: 100%;
    height: 300px;
    border-radius: 20px;
}

#review textarea {
    font-family: "Poppins", sans-serif;
    outline: none;
    font-size: 12px; 
    resize: none;
    border: none;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 10%);
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    height: 120px;
    color: rgba(0, 0, 0, 0.84);
    margin-bottom: 16px;
  }

  #review button[type="submit"] {
    margin-top: 16px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 14px;
    padding: 12px;
    width: 100%;
  }

  /* #review button[type="submit"]:hover {
    color: white;
  } */

  #review form {
      width: 440px;
      background: none;
      align-items: flex-start;
      font-size: 16px;
      border-left: 1px solid rgba(0, 0, 0, 0.56);
      border-radius: 0;
      margin-left: 128px;
      padding-left: 128px;
  }

  #review h3 {
      margin-bottom: 8px;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.84);
  }

  #left-side {
      width: 560px;
  }

.details-divider {
    border-top-color: rgb(120, 120, 120);
    border-top-width: 1px;
    border-top-style: solid;
    margin: 40px 0;
}

#details-misc {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

p#details-address {
    font-size: 14px;
    margin: 0;
    color: rgba(0, 0, 0, 0.54);
}

#details-misc p {
    font-size: 14px;
    margin: 8px 8px 0 0;
    color: rgba(0, 0, 0, 0.54);
}

#details-description {
    margin: 8px 0;
}