<div class="both-centered">
    <div class="home-position">
        <div class="home-text">
        <input type="text" id="searchbar" placeholder="In which city or town do you want to park?"></input>

        <h1>Having trouble finding a place to sleep in your car?</h1>
        <h2>Search and share nice places to spend the night when you are travelling with your camper.</h2>    
        </div>
        <div class="camper-image">
            <img src="images/camper.svg" alt="camper">
        </div>
    </div>
</div>

<script src="/js/home.js"></script>

{{#if error}}
<p class="error">{{error}}</p>
{{/if}}
